<div class="row">

  <div class="col-md-6 text-center">
    <div class="btn-group">

      <button
        class="btn btn-primary"
        mwl-date-modifier
        date="viewDate"
        decrement="vm.calendarView">
        Previous
      </button>
      <button
        class="btn btn-default"
        mwl-date-modifier
        date="viewDate"
        set-to-today>
        Today
      </button>
      <button
        class="btn btn-primary"
        mwl-date-modifier
        date="viewDate"
        increment="calendarView">
        Next
      </button>
    </div>
  </div>
</div>
