<div class="cal-month-day">

    <span
      class="pull-right"
      data-cal-date
      ng-click="calendarCtrl.dateClicked(day.date)"
      ng-bind="day.label">
    </span>

  <div ng-if="day.todayHasShifts">{{ day.text }}</div>

      <table ng-class="{ today: day.isToday }" class="table table-bordered table-condensed">
          <thead>
            <tr>
              <td>Station</td>
              <td>Position</td>
              <td>Name</td>
            </tr>
          </thead>
            <tbody ng-repeat="shift in day.shiftTables">
              <tr ng-repeat="slot in shift.slots">
                <td align="top" ng-attr-rowspan>{{ shift.station }}</td>
                <td>{{ slot.position }}</td>
                <td>{{ slot.name }}</td>
              </tr>
              <tr>
                <td colspan="3">
              </td>
            </tr>
          </tbody>
      </table>